body {
    background-color: hsl(240, 10%, 92%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333333;
    font-size: 3rem;
    margin-bottom: 20px;
}

button {
    background-color: #6c63ff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5750d1;
}


h2 {
    color: #ff6b6b;
    font-size: 2rem;
    margin-top: 30px;
}

.grupo-adicionar {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

input {
    padding: 15px 20px;
    font-size: 1.2rem;
    border: 2px solid #cccccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #6c63ff;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    font-size: 1.2rem;
    color: #555;
}

li {
    margin-bottom: 5px; 
}

.grupo-botoes {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

#btn-limpar {
    background-color: #e68080;
    color: white;
}
#btn-limpar:hover {
    background-color: #fa5252;
}